<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
    <title>Dashboard</title>
</head>
<body>

    <header>
        <h1>Home Server Dashboard</h1>
    </header>

    <div class="container">
        <header>
            <h2>Server Status</h2>
        </header>

        <div class="stats-grid">
            <div class="card">
                <h3>CPU Usage</h3>
                <div class="gauge-wrapper">
                    <canvas id="cpu-gauge"></canvas>
                </div>
                <p id="cpu-usage">--%</p>
            </div>

            <div class="card">
                <h3>RAM Usage</h3>
                <div class="gauge-wrapper">
                    <canvas id="ram-gauge"></canvas>
                </div>
                <p id="ram-usage">--%</p>
            </div>

            <div class="card">
                <h3>Disk Usage</h3>
                <div class="disk-display">
                    <p id="disk-usage">--%</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <header>
            <h2>Jellyfin Server</h2>
        </header>

        <div class="stats-grid">
            <div class="card">
                <h3>Status</h3>
                <div class="disk-display">
                    <p id="jellyfin-status">Checking...</p>
                </div>
            </div>
        </div>

        <div class="card">
                <h3>Open Media Server</h3>
                <div class="disk-display">
                    <a href="http://192.168.68.59:8096" target="_blank" class="jellyfin-link">Start Jellyfin </a>
                </div>
        </div>
    </div>

</body>
</html>